<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="https://www.dita-ot.org/rng/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<plugin id="dita-bootstrap.pdf.theme">
  <require plugin="org.dita.pdf2"/>
  <require plugin="dita-bootstrap.pdf"/>
  <transtype name="pdf-bootstrap" extends="pdf" desc="">
    <param
      name="bootstrap.theme"
      desc="Defines a specific custom bootstrap theme to use"
      type="enum"
    >
      <val>brite</val>
      <val>cerulean</val>
      <val>cosmo</val>
      <val>cyborg</val>
      <val>darkly</val>
      <val default="yes">default</val>
      <val>flatly</val>
      <val>journal</val>
      <val>litera</val>
      <val>lumen</val>
      <val>lux</val>
      <val>materia</val>
      <val>minty</val>
      <val>morph</val>
      <val>none</val>
      <val>pulse</val>
      <val>quartz</val>
      <val>sandstone</val>
      <val>simplex</val>
      <val>sketchy</val>
      <val>slate</val>
      <val>solar</val>
      <val>spacelab</val>
      <val>superhero</val>
      <val>united</val>
      <val>vapor</val>
      <val>yeti</val>
      <val>zephyr</val>
    </param>
  </transtype>
  <feature extension="dita.transtype.print" value="pdf-bootstrap"/>
  <feature extension="ant.import" file="integrator.xml"/>
</plugin>
